.App {
  text-align: center;
  display: grid;
  grid-template-rows: 15vh auto 10vh;
  height: 100vh;
}

.App__header {
  border-bottom: 1px solid black;
}

.App__navigation a.active {
  color: red;
}

.Footer {
  display: flex;
  justify-content: space-around;
}
